/* /Pages/Index.razor.rz.scp.css */
.working-message[b-r61rg46iq7] {
    margin: 5px;
    padding: 5px;
}

img[b-r61rg46iq7] {
    margin: 5px;
}

.default-image[b-r61rg46iq7], .generated-image[b-r61rg46iq7] {
    width: 800px;
    height: auto;
}

@media only screen and (max-width: 844px) {
    .default-image[b-r61rg46iq7], .generated-image[b-r61rg46iq7] {
        width: 80%;
    }
}

@media only screen and (max-width: 420px) {
    .default-image[b-r61rg46iq7], .generated-image[b-r61rg46iq7] {
        width: 350px;
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-rs4pg059ad] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-rs4pg059ad] {
    flex: 1;
}

@media (min-width: 641px) {
    .page[b-rs4pg059ad] {
        flex-direction: row;
    }
}
